<div class="ui container">  
  <div class="card-panel ">
    <center>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th>Factura</th>
                  <th>Serie</th>
                  <th>Folio</th>
                  <th>Fecha</th>
                  <th>Subtotal</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each model as |factura|}}
                  <tr>
                    <td>{{factura.id}}</td>
                    <td>{{factura.serie}}</td>
                    <td>{{factura.folio}}</td>
                    <td>{{factura.fecha}}</td>
                    <td>${{factura.subtotal}}</td>
                    <td>${{factura.total}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </center>
  </div>
</div>
